# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Django
.env
.env.*
staticfiles/
media/

# Git
.git
.gitignore

# Jenkins
workspace/

# Docker
Dockerfile
docker-compose.yml

# MySQL data (CRITICAL FIX)
data/
mysql/
db/
data/mysql/
data/mysql/db/

# MySQL runtime files
*.dblwr
*.ibd
*.ib_logfile*
*.ibdata*
*.sock

# OS
.DS_Store
Thumbs.db
