# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
.env
.env.*
staticfiles/
media/

# Git
.git
.gitignore

# Jenkins
workspace/

# MySQL data (FIX)
data/mysql/db/
data/mysql/db/*
data/mysql/

# MySQL runtime files
*.dblwr
*.ibd
*.ib_logfile*
*.ibdata*
*.sock

# OS
.DS_Store
Thumbs.db
